<!--menu.html-->
{{ define "base/menu.html" }}

<table>
    <tr>
        <a href="/"><button style="margin:5px;">Entries</button></a>
        <a href="/restaurants"><button style="margin:5px;">Restaurants</button></a>
{{ if .is_logged_in }}
        <!--should be shown only during authenticated view -->
        <a href="/profile"><button style="margin:5px;">Profile</button></a>
        <form action="/auth/logout" method="post">
            <button style="margin:5px;" type="submit">Logout</button>
        </form>
        <a href="/entries/new"><button style="margin:5px;">+</button></a>
{{ else }}
        <!--should be shown for unauthenticated view-->
        <a href="/auth/register"><button style="margin:5px;">Register</button></a>
        <a href="/auth/login"><button style="margin:5px;">Login</button></a>
{{ end }}
    </tr>
</table>

{{ end }}
