.error-messages {
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.error-message {
    font-weight: bolder;
    color: red;
    margin-bottom: 1em;
}
.flash-message {
    font-weight: bolder;
    color: #222222;
    margin-bottom: 1em;
    background-color: #f5f2aa;
    padding: 0.75em;
}

.menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 0px; /* No padding at bottom of menu*/
}

.main {
  margin-top: 12em; /* Add a top margin to avoid content overlay */
}
