<!--restaurants.html-->
{{ define "restaurants/index.html" }}
{{ template "base/header.html" .}}

<!--Loop over the restaurants variable, which is the list of restaurants-->
{{ range .restaurants }}
<section>
    <!--Display the name of the restaurant-->
    <h2><a href="/restaurants/{{ .Name }}">{{ .Name }}</a></h2>
    <!--Display the content of the restaurant-->
    <p>Location: {{ .Location }}</p>
    <p>Cuisine: {{ .Cuisine }}</p>
    <p>Closed: {{ .Closed }}</p>
</section>
{{end}}

{{ template "base/footer.html" .}}
{{ end }}
