<!--restaurants.html-->
{{ define "restaurants/index.html" }}
{{ template "base/header.html" .}}

<!--Loop over the restaurants variable, which is the list of restaurants-->
{{ range .restaurants }}
<section>
    <!--Display the name of the restaurant-->
    <h3><a href="/restaurants/{{ .ID }}">{{ .Name }}</a></h3>
    <!--Display the content of the restaurant-->
    Location: {{ .Location }}<br>
    Cuisine: {{ .Cuisine }}<br>
    Closed: {{ .Closed }}<br>
</section>
{{end}}

<div>
Pages: 
{{ if ne .p.Prev 0 }}
<a href="/restaurants/?page={{ .p.Prev }}">&laquo;</a>
{{ end }}

{{ range .p.Pages }}
    {{ if eq . $.p.Page }}<strong>{{ . }}</strong>
    {{ else }}<a href="/restaurants/?page={{ . }}">{{ . }}</a>
    {{ end }}
{{ end }}

{{ if ne .p.Next 0 }}
<a href="/restaurants/?page={{ .p.Next }}">&raquo;</a>
{{ end }}
</div>

{{ template "base/footer.html" .}}
{{ end }}
