<!--entry.html-->
{{ define "entries/entry.html" }}
{{ template "base/header.html" .}}

{{ if .is_mine }}
    <!--should be shown only during authenticated view of your own entries-->
    <form action="/entries/{{ .entry.ID }}/update" method="GET">
        <button type="submit">Update Entry</button>
    </form>
    <form action="/entries/{{ .entry.ID }}/delete" method="POST">
        <button type="submit">Delete Entry</button>
    </form>
{{ end }}

<section>
    <!--Display the title of the entry which is also a link based on its ID-->
    <h3><a href="/entries/{{ .entry.ID }}">{{ .entry.Name }}</a></h3>
    <!--Display the content of the entry-->
    Submitter: {{ .entry.Submitter }}<br>
    Date: {{ .entry.CreatedAt.Format "Jan 02 2006" }}<br>
    Visited: {{ .entry.Visited }}<br>
    Location: {{ .entry.Location }}<br>
    Cuisine: {{ .entry.Cuisine }}<br>
    (Optional fields below)<br>
    Closed: {{ .entry.Closed }}<br>
    Meal Service: {{ .entry.MealService }}<br>
    Ordered: {{ .entry.Ordered }}<br>
    Order Next Time: {{ .entry.OrderNext }}<br>
    Don't Order Again: {{ .entry.DoNotOrder }}<br>
    Food Rating: {{ .entry.FoodRating }}<br>
    Ambience Rating: {{ .entry.AmbienceRating }}<br>
    Value Rating: {{ .entry.ValueRating }}<br>
    Comments: {{ .entry.Comments }}<br>
</section>

{{ template "base/footer.html" .}}
{{ end }}
